{% load i18n %}
{% load static %}

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>{% translate 'Fuel Dashboard' %}</title>
      <link rel="stylesheet" href="{% static 'fuel/style.css' %}">
      <link rel="stylesheet" href="{% static 'fuel/skeleton.css' %}">
      <link rel="stylesheet" href="{% static 'fuel/normalize.css' %}">
      <link rel="icon shortcut" href="{%  static 'fuel/images/icon/favicon.ico' %}">
  </head>
  <body>
    <div class="container">
        <div class="row"><h1>{{ title }}</h1></div>
        <a class="button" href="/">{% translate 'Back to the homepage' %}.</a>
        <div class="row">
        <form action="{{ endpoint }}" method="post">
            {% csrf_token %}
            <table>
            {{ form }}
            </table>
            <input class="button-primary" type="submit" value="Submit">
        </form>
        </div>
    </div>
  </body>
</html>