{% load i18n %}
{% load static %}

<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8"/>
    <title>{% translate 'Fuel Dashboard' %}</title>
    <link rel="stylesheet" href="{% static 'fuel/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'fuel/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'fuel/style.css' %}">
    <link rel="icon shortcut" href="{%  static 'fuel/images/icon/favicon.ico' %}">
</head>
<body>
<div class="container">
    <h1>Administration</h1>
    <div class="row">
        <a class="button" href="/fuel/add-fuel">{% translate 'Add new entry to the Fuel table' %}</a>
        <a class="button" href="/fuel/add-other">{% translate 'Add new entry to the Other table' %}</a>
        <a class="button" href="/fuel/export/fuel.csv">{% translate 'Export Fuel table as CSV' %}</a>
        <a class="button" href="/fuel/export/other.csv">{% translate 'Export Other table as CSV' %}</a>
        <a class="button" href="/admin" target="_blank">{% translate 'Admin page' %}</a>
    </div>
    <h2>{% translate 'Statistics' %}</h2>
    <h3>{% translate 'Fuel Statistics' %}</h3>
    <table>
        <tr>
            <td>{% translate 'Efficiency Of the car' %}</td>
            <td>{% translate 'Distance Traveled' %}</td>
            <td>{% translate 'Amount of fuel used' %}</td>
            <td>{% translate 'Average money per liter of fuel' %}</td>
            <td>{% translate 'Travel Price' %}</td>
        </tr>
        <tr>
            <td>{{ efficiency }} {% translate 'liter per 100km' %}</td>
            <td>{{ distance }} km</td>
            <td>{{ fuelUsed }}</td>
            <td>{{ avgFuelPrice }} euros per liter</td>
            <td>{{ pricePerkm }} euros per 100km</td>
        </tr>
    </table>

    <h2>{% translate 'Other Statistics' %}</h2>
    <table>
        <tr>
            <td>{% translate 'Table' %}</td>
            <td>{% translate 'Total' %}</td>
            <td>{% translate 'Daily' %}</td>
            <td>{% translate 'Weekly' %}</td>
            <td>{% translate 'Monthly' %}</td>
            <td>{% translate 'Yearly' %}</td>
        </tr>
        <tr>
            <td>{% translate 'Fuel' %}</td>
            <td>{{ total_expenses.fuel.total }}</td>
            <td>{{ total_expenses.fuel.daily }}</td>
            <td>{{ total_expenses.fuel.weekly }}</td>
            <td>{{ total_expenses.fuel.monthly }}</td>
            <td>{{ total_expenses.fuel.yearly }}</td>
        </tr>
        <tr>
            <td>{% translate 'Other' %}</td>
            <td>{{ total_expenses.other.total }}</td>
            <td>{{ total_expenses.other.daily }}</td>
            <td>{{ total_expenses.other.weekly }}</td>
            <td>{{ total_expenses.other.monthly }}</td>
            <td>{{ total_expenses.other.yearly }}</td>
        </tr>
        <tr>
            <td>{% translate 'Total' %}</td>
            <td>{{ total_expenses.total.total }}</td>
            <td>{{ total_expenses.total.daily }}</td>
            <td>{{ total_expenses.total.weekly }}</td>
            <td>{{ total_expenses.total.monthly }}</td>
            <td>{{ total_expenses.total.yearly }}</td>
        </tr>
    </table>
    <img src="/fuel/image/monthly.svg" alt="monthly">
    <img src="/fuel/image/trend.svg" alt="trend">
    <img src="/fuel/image/money.svg" alt="money">
    <img src="/fuel/image/other.svg" alt="other">
</div>
</body>
</html>

