/**
 * Custom options overriding the skeleton.css options.
 */
div {
    padding: 5px;
}

:root {
    --background: #0f0e17;
    --foreground: #fffffe;
    --maroon: #85144b;
    --red: #ff4136;
    --orange: #ff851b;
    --yellow: #ffdc00;
    --branch: 1px solid #a7a9be;
}
